a.ui-link-inherit{
	white-space: normal;
}
.ui-header .ui-title{
    white-space: normal;
    margin: 0.6em 60px 0.8em;
}
.ui-btn-inner{
    white-space: normal;
}

.ui-icon-arrow-r {
    background-image: url("static/icon_right.png");
    background-repeat: inherit;
    background-position: 0px;
}

.ui-icon-arrow-l {
    background-image: url("static/icon_left.png");
    background-repeat: inherit;
    background-position: 0px;
}
.ui-field-contain{
    padding: 0;
}

.ui-content{
    padding: 0px 15px 15px 15px;
}

.ui-icon-checkbox-on {
    background-image: url("images/icons-18-white.png");
    background-position: -252px 50%;
    background-color: #ff9999;
}

.ui-icon-checkbox-off {
    background-image: url("images/form-check-on.png");
    background-color: #dcdcdc;
}


/*.ui-btn-hover-c {
        border: 1px solid               #bbb;
        background:                     #ff9999;
        font-weight: bold;
        color:                                  #101010;
        text-decoration: none;
        text-shadow: 0 1px 1px  #fff;
        background-image: -moz-linear-gradient(top,
                                                        #ededed,
                                                        #ff9999);
        background-image: -webkit-gradient(linear,left top,left bottom,
                color-stop(0,           #ededed),
                color-stop(1,           #ff9999));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#ff9999')";
}

.ui-btn-down-c {
        border: 1px solid               #808080;
        background:                     #ff9999;
        font-weight: bold;
        color:                                  #111111;
        text-shadow: 0 1px 1px  #ffffff;
        background-image: -moz-linear-gradient(top,
                                                        #eeeeee,
                                                        #ff9999);
        background-image: -webkit-gradient(linear,left top,left bottom,
                color-stop(0,           #eeeeee),
                color-stop(1,           #ff9999));
        -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ff9999')";
}
*/
